<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("form").submit(function(e){
            e.preventDefault(e);
            newQuiz();
        });
    });
    $("form").submit(function(e){
        e.preventDefault(e);
        newQuiz();
    });
    function newQuiz() {
        var quizName = $("#name").val();
        var quizCode = $("#quizCode").val();
        var questionCount = $("#questionCount").val();
        $.post("http://31.220.63.223:3200/quiz/create", {
            quizName: quizName,
            quizCode: quizCode,
            questionCount: questionCount,
            hostName: "Parker" 
        },
        function(data, status){
            window.location.href = "http://grpiz.io/quiz/" + quizCode;
        });
    }
</script>

<%- include ('../partials/header') %>
<div class="quizHeader">
    <h1 class="quizName"><span id="quizName">Create a new quiz</span></h1>
</div>
<div class="newQuizForm container">
    <form>
        <div class="form-group">
          <label for="quizName">Quiz name</label>
          <input type="text" class="form-control" id="name" aria-describedby="quizDesc" placeholder="Enter quiz name">
          <small id="quizDesc" class="form-text text-muted">This can be anything, but should be descriptive</small>
        </div>
        <div class="form-group">
            <label for="quizCode">Question Count</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">https://grpiz.io/</div>
                </div>
                <input type="text" class="form-control" id="quizCode" placeholder="Quiz Code">
            </div>
        </div>
        <div class="form-group">
            <label for="questionCount">Question Count</label>
            <input type="number" class="form-control" id="questionCount" aria-describedby="questionCountDesc" placeholder="Enter question count">
            <small id="questionCountDesc" class="form-text text-muted">This can be changed later</small>
        </div>
        <button type="submit" class="btn btn-primary">Create quiz</button>
      </form>
</div>
<%- include ('../partials/footer') %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>