<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("form#newQuiz").submit(function(e){
            e.preventDefault(e);
            newQuiz();
        });
        $("form#joinQuiz").submit(function(e){
            e.preventDefault(e);
            joinQuiz();
        });
    });
    $("form#newQuiz").submit(function(e){
        e.preventDefault(e);
        newQuiz();
    });
    $("form#joinQuiz").submit(function(e){
        e.preventDefault(e);
        joinQuiz();
    });
    function newQuiz() {
        var quizName = $("#name").val();
        var quizCode = $("#quizCode").val();
        var questionCount = $("#questionCount").val();
        $.post("https://api.grpiz.io/quiz/create", {
            quizName: quizName,
            quizCode: quizCode,
            questionCount: questionCount,
            hostName: "Parker" 
        },
        function(data, status){
            window.location.href = "http://grpiz.io/" + quizCode;
        }).fail(function(e) {
            var body = e.responseJSON;
            if (body.code == "invalid_data") {
                new PNotify({
                    title: "Whoops!",
                    text: body.errors[0].message,
                    icon: 'fal fa-times',
                    type: "danger",
                    delay: 5000
                });
            }
        })
    }  
    function joinQuiz() {
        var quizCode = $("#quizCodeOriginal").val();
        $.get("https://api.grpiz.io/quiz/" + quizCode + "/name", 
        function(data, status){
            window.location.href = "http://grpiz.io/" + quizCode;
        }).fail(function(e) {
            new PNotify({
                title: "Whoops!",
                text: "That quiz does not exist, please try another code",
                icon: 'fal fa-times',
                type: "danger",
                delay: 5000
            });
            $("#quizCodeOriginal").value = "";
        })
    }
</script>

<%- include ('../partials/header') %>
<div class="quizHeader">
    <h1 class="quizName"><span>Join or create a quiz</span></h1>
</div>
<div class="row container homeBoxes">
    <div class="col-md-6 col-sm-12">
        <div class="quizHeader">
            <h1 class="quizName"><span>Create a quiz</span></h1>
        </div>
        <div class="newQuizForm container green">
            <form id="newQuiz">
                <div class="form-group">
                  <label for="quizName">Quiz name</label>
                  <input required type="text" class="form-control" id="name" aria-describedby="quizDesc" placeholder="Enter quiz name">
                  <small id="quizDesc" class="form-text text-muted">This can be anything, but should be descriptive</small>
                </div>
                <div class="form-group">
                    <label for="quizCode">Quiz Code</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">https://grpiz.io/</div>
                        </div>
                        <input required type="text" class="form-control" id="quizCode" placeholder="Quiz Code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="questionCount">Question Count</label>
                    <input required type="number" min="1" value="1" class="form-control" id="questionCount" aria-describedby="questionCountDesc" placeholder="Enter question count">
                    <small id="questionCountDesc" class="form-text text-muted">This can be changed later</small>
                </div>
                <button type="submit" class="btn btn-primary dark-green">Create quiz</button>
              </form>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="quizHeader">
            <h1 class="quizName"><span>Join a quiz</span></h1>
        </div>
        <div class="newQuizForm container blue">
            <form id="joinQuiz">
                <div class="form-group">
                    <label for="quizCode">Quiz Code</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">https://grpiz.io/</div>
                        </div>
                        <input required type="text" class="form-control" id="quizCodeOriginal" placeholder="Quiz Code">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary dark-blue">Join quiz</button>
              </form>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>