<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    var quizCode = "<%= quizCode  %>";
    var quizName;
    var questions;
    var error = false;
    $.get("https://api.grpiz.io/quiz/" + quizCode + "/name", function(data, status){
        name = data.name;
        $("#quizName").html(data.name);
        $("#quizCode").html(data.quizCode);
    }).fail(function(e) {
        $("#quizName").html("Error, redirecting..");
        $("#quizCode").html("");
        error = true;
        setTimeout(function() {
            window.location.href = "http://grpiz.io/";
        }, 3000);
    });
    var timeLeft = 0;
    function updateQuestions() {
        if (!error) {
            $.get("https://api.grpiz.io/quiz/" + quizCode + "/name", function(data, status){
   
            }).fail(function(e) {
                $("#quizName").html("Error, redirecting..");
                $("#quizCode").html("");
                error = true;
                setTimeout(function() {
                    window.location.href = "http://grpiz.io/";
                }, 6000);
            });
            var url = "https://api.grpiz.io/quiz/" + quizCode + "/questions";
            $.get("https://api.grpiz.io/quiz/" + quizCode + "/questions", function(data, status){
                    questions = data.questions;
                    var str = '<ul class="questionsUl">'
                    var i = 0;
                    var ic = 0;
                    var color;
                    questions.forEach(function(question) {
                        i++;
                        switch(ic) {
                            case 0: 
                                color = "red";
                                ic++
                                break;
                            case 1: 
                                color = "blue";
                                ic++
                                break;
                            case 2: 
                                color = "green";
                                ic++
                                break;
                            case 3: 
                                color = "purple";
                                ic = 0;
                                break;
                        }
                        var answers = '<ul class="answerUl">';
                        question.answers.forEach(function(answer) {
                            answers += `
                                <li class="answerLi dark-${color}"><p>${answer.answer}</p></li>
                            `;
                        });
                        
                        answers += `
                        <li onClick="addAnswer('${question.questionId}')"class="clickable answerLi dark-${color}"><p>+</p></li>
                        </ul>`;
                        str += `
                            <li>
                                <div class="question">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 leftQuestion dark-${color}">
                                            <div class="questionIndex ${color}">
                                                <h1>${i}</h1>
                                            </div>
                                            <div class="questionText">
                                                <h1 class="clickable" onclick="renameQuestion('${question.questionId}', '${question.questionString}')">${question.questionString} <i class="far fa-edit editIcon"></i></h1>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 rightQuestion ${color}">
                                            ${answers}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        `;
                    });
                    str += `
                            <li>
                                <div class="addNewQuestion clickable dark-${color}" onclick="newQuestion()"><i class="far fa-plus"></i></div>
                            </li>
                        `;
                    str += '</ul>';
                    $("#questions").html(str);
                });
                timeLeft = 6;
                $("#timeLeft").html(timeLeft);
        } else {

        }
    }
    updateQuestions();
    
    function updateTimeLeft() {
        if (timeLeft != 0) {
            timeLeft -= 1;
            $("#timeLeft").html(timeLeft);
        }
    }
    setInterval(updateQuestions, 5000)
    setInterval(updateTimeLeft, 1000)

    function addAnswer(id) {
        var answer = prompt("Please enter your answer");
        $.post("https://api.grpiz.io/quiz/" + quizCode + "/questions/" + id + "/addAnswer", {
            answer: answer,
            user: "Test"
        },
        function(data, status){
            new PNotify({
                title: "Success!",
                text: "Your answer has been added!\nIt will show up soon.",
                icon: 'fal fa-check',
                type: "success",
                delay: 5000
            });
        });
    }

    function renameQuestion(id, og) {
        var name = prompt("Please enter the question's text", og);
        $.post("https://api.grpiz.io/quiz/" + quizCode + "/questions/" + id + "/rename", {
            name: name
        },
        function(data, status){
            new PNotify({
                title: "Success!",
                text: "You have updated the quiz text!\nIt will show up soon.",
                icon: 'fal fa-check',
                type: "success",
                delay: 5000
            });
        });
    }

    function newQuestion() {
        $.post("https://api.grpiz.io/quiz/" + quizCode + "/questions/new",
        function(data, status){
            new PNotify({
                title: "Success!",
                text: "You have added a new question!\nIt will show up soon.",
                icon: 'fal fa-check',
                type: "success",
                delay: 5000
            });
        });
    }

    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        $("#clicked").addClass("fa-check");
        $("#clicked").removeClass("fa-copy");
        setTimeout(function() {
            $("#clicked").addClass("fa-copy");
            $("#clicked").removeClass("fa-check");
        }, 3000)
    }
</script>

<%- include ('../partials/header') %>
<div class="quizHeader">
    <h1 class="quizName"><span id="quizName"><i class="far fa-spinner-third fa-spin"></i></span></h1>
    <h2 class="quizLink clickable" onclick="copyToClipboard('.quizLink')"><i id="clicked" class="fas fa-copy"></i> http://grpiz.io/<span class="quizCode" id="quizCode"><i class="far fa-spinner-third fa-spin"></i></span></h2>
    <h2 class="quizLink updater">Updating in <span id="timeLeft"></span> <i class="far fa-sync-alt slow-spin"></i> </h2>
</div>
<div class="questions" id="questions">
    
</div>
<%- include ('../partials/footer') %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>